html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#root {
	height: 100%;
}

.wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: minmax(100px, 1fr) 3fr 1fr;
	grid-template-rows: 5fr 1fr;
}
