@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

* {
    font-family: 'Ubuntu Sans', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

/* #portal-root {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #4a4a4a54;
} */
