@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

/* #portal-root {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #4a4a4a54;
} */
